/* nav */
.menu-item{
    border: 2px solid #00a9f1;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.menu-item .submenu{
    height: 40px;
    width: 120px;
    background: green;
    position: absolute;
    cursor: pointer;

}
/*   tab   */

#tabBlock{
    position: absolute;
    padding: 50px 20px 5px 5px;
}
#tabs .tab{
    display: inline-block;
    padding: 5px 10px ;
    cursor: pointer;
    position: relative;
    z-index: 5;
}

#tabs .whiteborder{
    border:  1px solid #81ee86;
    border-bottom: 1px solid #ffffff;
    border-radius: 5px 5px 0 0;
    }

#tabs .tabContent {
    width: 300px;
    height: 60px;
    border:1px solid #81ee86;
    position: relative;
    top:-1px;
    z-index: 1;
    padding: 10px;
    border-radius:0 0 5px 5px;
}

#tabs .hide {
    display: none;
}

#tabs .show {
    display: block;
}