/* nav */
.menu-item{
    border: 2px solid #00a9f1;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.menu-item .submenu{
    height: 40px;
    width: 120px;
    background: green;
    position: absolute;
    cursor: pointer;

}
/*   tab   */

#tabBlock{
    position: absolute;
    padding: 50px 20px 5px 5px;
}
#tabs .tab{
    display: inline-block;
    padding: 5px 10px ;
    cursor: pointer;
    position: relative;
    z-index: 4;
}

#tabs .whiteborder{
    border:  1px solid #81ee86;
    border-bottom: 1px solid #ffffff;
    border-radius: 5px 5px 0 0;
    }

#tabs .tabContent {
    height: 60px;
    border:1px solid #81ee86;
    position: relative;
    top:-1px;
    z-index: 1;
    padding: 10px;
    border-radius:0 0 5px 5px;
}

#tabs .hide {
    display: none;
}

#tabs .show {
    display: block;
}

#nav{
    margin-bottom: 60px;
}
/*////////////////////////////////////*/

/*/////////// modal mindow*/

.modal{
    display: none;
    position: fixed;
    z-index: 13;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #243740;
}

.modal_content{
    background-color: #32f1e7;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #13596b;
    width: 25%;
    height: 30%;


}

.close{
    color: #0e2020;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -25px;
    margin-right: -15px;
}

#mybtn{
    float: right;
    margin: 10px;

}

/*//////////////SLIDER////////////////*/

/*// BASE*/

   .slider-box{
       max-width: 100%;
       position: relative;
       margin: auto;
       max-height: 400px;
   }

.slide {
    position: relative;
}
.slider-img{
    width: 100%;
    max-height: 400px;
}

/*// NAVIGATION*/

   .prev, .next {
       position: absolute;
       top: 50%;
       margin-top: -22px;

       width: auto;
       padding: 16px;
       color: white;
       border-radius: 0 3px 3px 0;

       font-size: 18px;
       font-weight: bold;

       transition: 0.6s ease;
       cursor: pointer;
   }

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.slide-number {
    position: absolute;
    padding: 15px;
    color: whitesmoke;
}

/*// TEXT*/

   .slider-text {
       position: absolute;
       bottom: 0;
       left: 50%;

       margin-left: -195px;
       padding: 8px 12px;
       margin-bottom: 30px;

       color: lightblue;
       font-family: verdana;
       font-size: 30px;
   }

/*// SLIDER DOTS*/

   .slider-dots {
       text-align: center;
       position: absolute;
       bottom: 0;
       left:50%;
       margin-left: -30px;
       margin-bottom: -30px;
   }

.dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;

    display: inline-block;
    cursor: pointer;
    background-color: magenta;
    border-radius: 50%;
    transition: 0.6s ease;
}

.active, .dot:hover {
    background-color: plum;
}

/*// ANIMATION*/

   .fade {
       animation-name: fade;
       animation-duration: 1.5s;
   }
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*"Search for name"*/

#search{
    margin-top: 250px;
}

#myInput{
    width: 100%;
    font-size: 16px;
    border:1px solid #0000ed;
    margin-bottom: 12px;
}

#myUL{
    list-style: none;
    padding: 0;
    margin: 0;
}

#myUL li a{
    border: 1px solid #0000ed;
    margin-top: -1px;
    background-color: #00a3a3;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: #0e0e0e;
    display: block;
}
#myUL li a.header{
    background-color: #3D9970;
    cursor: default;
}

#myUL li a:hover:not(.header){
    background-color: #0a7261;
}

/*//////// map ////////*/

#map {
    height: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/*      modal windows      */

*{
    margin: 0;
    padding: 0;
}
.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
}
.my__img{
    width: calc(100%/20);
    /*width: 300px;*/
    height: calc(100%/20);
    object-fit: cover;
    /*border-radius: 1%;*/
    cursor: pointer;
    /*transition: all .2s ease;*/
    margin:20px;
}
.my__img:hover{
    opacity: .7;
}
.my__modal{
    display: none;
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.7);
}
.modal__block{
    /*	z-index: 20;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-200%);
    transition: all 1s ease;

}
.modal__content{
    margin: 5%;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    max-width: 100vw;
    max-height: 85vh;

}
#caption{
    z-index: 20;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: white;
    padding: 10px 0;
    height: 150px;
}
.modal__content, #caption{
    animation-name: zoom;
    animation-duration: .7s;
}
.close{
    z-index: 50;
    color: #f1f1f1;
    position: absolute;
    top:25px;
    right: 45px;
    font-size: 40px;
    font-weight: bold;
    transition: all .3s ease;
    cursor: pointer;
}
.close:hover, .close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@keyframes zoom{
    from{transform: scale(0);}
    to{transform: scale(1);}
}
@media only screen and (max-width: 48em){
    /*.modal__content{max-width: 100%;}*/
    .box{
        flex-direction: column;
    }
    .my__img{
        width: 100%;
    }
}

/*      progres bar    */

#myProgress{
    position: relative;
    width: 500px;
    height: 30px;
    background-color: #ddd;
}
#myBar{
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: #4CAF50;
}
#label{
    text-align: center;
    line-height: 30px;
    color: white;
}